body {
	font-family: "Comic Sans MS", cursive, sans-serif;
}

#header-nav {
	background-color: darkgrey;
	border-radius: 0;
	border: 0;
}

.navbar-brand h1 {
	color: black;
	font-size: 1.5em;
	font-weight: bold;
	margin-top: 0;
	margin-bottom: 0;
	line-height: 0.75;
}

.navbar-brand a:hover, .navbar-brand a:focus {
	text-decoration: none;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
	border: 2px solid black;
}

#nav-list a {
	color: black;
	font-size: 1.1em;
	font-weight: bold;
	border-bottom: 2px solid black;
}

#collapsable-nav {
	clear: both;
	background-color: white;
}

h2 {
	font-weight: bold;
	font-size: 1.8em;
}

h3 {
	text-align: center;
	font-weight: bold;
	font-size: 1.5em;
}

section {
	background-color: darkgrey;
}

.row {
	margin-top: 15px;
}

@media (max-width: 767px) {

	.row {
		margin: 15px 10% 10% 10%;
	}
	
}
