/* Styles to make my heading 1 white and background black */
/* body {
  background-color: black;
  color: white;
}*/ /* I don't need it in this example */

/* body {font-family: "Comic Sans MS", cursive, sans-serif; padding: 0px; margin: 0px; display: inline;} */
/* Original line of the font from my second week solution */

body {font-family: "Comic Sans MS", cursive, sans-serif;}
/* My Comic Sans font for the page. I got rid of padding, margins and display */

/* Styles to make my navbar header look without rounded corners and with correct color */
#header-nav {
    background-color: darkgrey; /* Color can be changed later */
    border-radius: 0;
    border: 0;
}

/* Brand Name */

/* We don't need that padding */
/*.navbar-brand {
    padding-top: 25px;
}*/

.navbar-brand h1 { /* Logo name, Food, LLC */
    /*font-family: 'Lora', serif;*/
    color: black;
    font-size: 1.5em;
    /*text-transform: uppercase;*/
    font-weight: bold;
    /*text-shadow: 1px 1px 1px #222;*/ /* Might apply later */
    margin-top: 0;
    margin-bottom: 0;
    line-height: .75;
    }
/* Brand Name Ends here */

/* The button */

/*.navbar-header button {
  color: black;
}*/ /* My pathetic attempt to change the color of the button */

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 2px solid black;
  /*width: 100;*/ /* Styles to try to put in order dropdown menu */
  /*height: 100;*/ /* Styles to try to put in order dropdown menu */
}


/* Styles for the dropdown menu */
#nav-list a {
  color: black;
  text-align: center;
  font-size: 1.1em;
  font-weight: bold;
}

/* Styles to try to put the dropdown menu in normal position */

/*.navbar-brand {
  width: 100;
  height: 100;
}

.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -30px;
}*/

#collapsable-nav { /* Finally made my dropdown menu look decently alligned */
  clear: both;
}